.page-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: var(--brand-dark);
}

h1 {
    color: #FFFFFF;
    text-align: center;
    font-weight: bold;
    font-size: 7rem;
}

a {
    margin-top: 1rem;
}