@page "/bill/{clientId:guid}"

<div class="page-container">
    <a class="button" @onclick="@(() => NavigationManager.NavigateTo("home"))">
        Back
    </a>
    <h1>Client Bill:</h1>
    @if (_payableAmount == null)
    {
        <h1>No Bill Available For Client</h1>
    }
    else
    {
        <h1>£@Math.Round(_payableAmount.Value, 2)</h1>
    }
</div>
