@using Electrify.Dlms.Options
@using Electrify.Dlms.Server.Abstraction
@using Electrify.Server.ApiClient
@using Electrify.SmartMeterUi.Services.Abstractions
@using Microsoft.Extensions.Options
@inherits LayoutComponentBase

<div class="page">
    <main>
        @Body
    </main>
</div>